[phases.setup]
cmds = [
  "npm install"
]

[phases.build]
cmds = [
  "npx prisma generate",
  "npm run build"
]

[start]
cmd = "node dist/main"

[providers.railway]
healthcheckPath = "/api/v1/health"